<script>
  import Button, {Label} from '@smui/button';
  import Card, {Media, Content} from '@smui/card';
  import Chip, {Text} from '@smui/chips';
  import Textfield, {Textarea} from '@smui/textfield'
  import Listing from "./Listing.svelte";
  import { current_creatures, creature_list } from './store';


  function createCreature(data) {

    let stats = [];
    for (let stat_key in data.stats) {
      let value = data.stats[stat_key];
      stats.push({
        key: stat_key,
        value: value
      })
    }

    data.old_stats = data.stats;
    data.stats = stats;

    return data;
  }


  import {modMap} from './mod'
  import {statsMap} from './stats'
  import {onMount} from "svelte";

  let example_creature = {
    name: "Drow Elf",
    ac: 15,
    hp: 13,
    image: 'blob',

    variants: [
      {
        name: "Ranger",
        modifiers: {
          ac: 2,
          dex: 1
        }
      }
    ],

    stats: {
      str: 10,
      dex: 14,
      con: 10,
      int: 11,
      wis: 11,
      cha: 12
    },
    attacks: [
      {
        name: "Short Sword",
        stat: "dex",
        damage: "1d6 + 2",
        hit: 1
      }
    ]
  };

  let drow_elf = createCreature({
    name: "Drow Elf",
    ac: 15,
    hp: 13,
    image: 'drowelf.jpg',

    variants: [
      {
        name: "Ranger",
        modifiers: {
          ac: 2,
          dex: 1
        }
      }
    ],

    stats: {
      str: 10,
      dex: 14,
      con: 10,
      int: 11,
      wis: 11,
      cha: 12
    },
    attacks: [
      {
        name: "Short Sword",
        stat: "dex",
        damage: "1d6 + 2",
        hit: 1
      }
    ]
  });

  let sporeservant = createCreature({
    name : "Drow Spore Servant",
    ac : 15,
    hp : 13,
    image : 'sporeservant.jpg',
    stats : {
      str : 10,
      dex : 14,
      con : 10,
      int : 2,
      wis : 6,
      cha : 1,
    },
    attacks : [
      {
        name : "Shortsword",
        stat : "dex",
        damage : '1d6 + 2',
        hit : 4,
      }
    ]
  });

  let derro = createCreature({
    name: "Derro",
    ac: 13,
    hp : 22,
    image: 'derro.jpg',
    stats: {
      str: 9,
      dex: 14,
      con: 12,
      int: 11,
      wis: 5,
      cha: 9
    },
    attacks: [
      {
        name: "Hooked Short Spear",
        stat: "dex",
        damage: "1d4 - 1",
        hit: 2
      }
    ]
  });

  let myconid = createCreature({
    name: "Awakened Zurkhwood",
    ac: 13,
    hp : 53,
    image: 'zurkhwood.jpeg',
    stats: {
      str: 19,
      dex: 6,
      con: 15,
      int: 10,
      wis: 10,
      cha: 7
    },
    attacks: [
      {
        name: "Slam",
        stat: "str",
        damage: "3d6 + 4",
        hit: 3
      }
    ]
  });

  let yestabrod = createCreature({
    name: "Yestabrod",
    ac: 15,
    hp : 75,
    image: 'yestabrod.jpeg',
    stats: {
      str: 19,
      dex: 6,
      con: 15,
      int: 10,
      wis: 10,
      cha: 7
    },
    attacks: [
      {
        name: "Slam",
        stat: "str",
        damage: "3d6 + 4",
        hit: 3
      }
    ]
  });

  let creatures = [
    drow_elf,
    derro,
    sporeservant,
    myconid
  ]

  onMount(() => {
    let creats = localStorage.getItem('creature_list');
    console.log(creats);
    if(creats !== undefined && creats != '' && creats !== null) {
      creature_list.set(JSON.parse(creats))
    }


    const unsubscribe = creature_list.subscribe(value => {

      if(value.length === 0) {
        value = creatures;
      }

      console.log("cvalue", value);
      if(value !== undefined && value !== '' && value !== null) {
        creatures = value;
        localStorage.setItem('creature_list', JSON.stringify(creatures))
      }
    });


  });

  let encounters = [

  ]

  let wcurrent_creatures = current_creatures;

  function addToEncounter(e) {
    const creature_id = e.target.getAttribute('creatureId');
    wcurrent_creatures.update(n => n.concat(Object.assign({}, creatures[creature_id])))
  }

  function addToCreatureList(e) {

    const preview = document.querySelector('img[data-js="new"]');

    let txt = document.querySelector('textarea[data-js="new"]').value;
    txt = JSON.parse(txt);
    txt.image_blob = preview.src


    let new_creature = createCreature(txt)


    creature_list.update(n => n.concat(Object.assign({}, new_creature)))



  }


  function previewImage(e) {
    const file = e.target.files[0];
    const reader = new FileReader();

    reader.addEventListener("load", function () {
      const preview = document.querySelector('img[data-js="new"]');
      preview.src = reader.result;
      console.log(e.target);
    }, false);

    const file_blob = reader.readAsDataURL(file)

    console.log(file_blob)

  }

  function resetEncounter() {
    wcurrent_creatures.set([])
  }

</script>

<div class="row">
  <div class="container">
    <h2>Creatures</h2>
  </div>
  <div class="container">
    {#each creatures as creature, i}
      <Card style="margin: 10px; width: 360px;">
        <Content class="mdc-typography--body2">
          <h2>{creature.name} - <span class="ac">  <Chip><Text>AC : {creature.ac}</Text></Chip> <Chip><Text>HP : {creature.hp}</Text></Chip></span></h2>
          <div style="width: 100%; height: 200px; overflow: hidden;">
            <img src="{creature.image == 'blob' ? creature.image_blob : 'theme/images/' + creature.image}" style="width: 100%;">
          </div>
          Stats:
          <ul>
            {#each creature.stats as stat}
              <li><span class="stat-key">{statsMap[stat.key]}</span> : <span class="stat">{modMap[stat.value]} ({stat.value})</span></li>
            {/each}
          </ul>

          Attacks:
          <ul>
            {#each creature.attacks as attack}
              <li>
                <strong>{attack.name}</strong> - (+{modMap[creature.old_stats[attack.stat]] + attack.hit})
                <br />
                <div style="text-indent: 10px;">
                  Damage : {attack.damage}
                </div>
              </li>
            {/each}
          </ul>

        </Content>

        <Button creatureId={i} on:click={addToEncounter}>Add to Encounter</Button>

      </Card>
    {/each}

    <Card style="margin: 10px; width: 360px;">
      <Content class="mdc-typography--body2">
        <h2>Add New Creature</h2>
        <div style="width: 100%; height: 200px; overflow: hidden;">
          <img data-js="new" style="width: 100%;">
        </div>

        <input on:change={previewImage} type="file">


      </Content>
      <Content>
          <Textarea data-js="new" label="New Creature" value="{JSON.stringify(example_creature, null, 2)}"></Textarea>
      </Content>


      <Button on:click={addToCreatureList}>Add to Creature List</Button>

    </Card>

  </div>
  <div class="container">
    <h2>Encounter</h2>
  </div>
  <div class="container">
    <Button color="secondary" on:click={resetEncounter} dense>Reset</Button>
  </div>
  <div class="container">
    <Listing bind:current_creatures={wcurrent_creatures} />
  </div>
</div>

<style>

  .card {
    margin : 10px !important;
  }
  .grayed {
    opacity: .6;
  }

  .container {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
    padding: 5px;
  }
  ul {
    list-style-type: none;
  }

  .stat-key {
    display: inline-block;
    width: 85px;
  }

  .stat {
    display: inline-block;
    width: 55px;
    text-align: right;
  }

</style>