<script>
    import Card, {Media, Content} from '@smui/card';
    import Chip, {Text} from '@smui/chips';
    import {modMap} from './mod'
    import {statsMap} from './stats'

    let creature;
</script>

<Card style="margin: 10px; width: 260px;">
    <Content class="mdc-typography--body2">
        <h2>{creature.name} - <span class="ac">  <Chip><Text>AC : {creature.ac}</Text></Chip></span></h2>
        <div style="width: 100%; height: 200px; overflow: hidden;">
            <img src="/theme/images/{creature.image}" style="width: 100%;">
        </div>
        Stats:
        <ul>
            {#each creature.stats as stat}
                <li><span class="stat-key">{statsMap[stat.key]}</span> : <span class="stat">{modMap[stat.value]} ({stat.value})</span></li>
            {/each}
        </ul>

        Attacks:
        <ul>
            {#each creature.attacks as attack}
                <li>
                    <strong>{attack.name}</strong> - (+{modMap[creature.old_stats[attack.stat]] + attack.hit})
                    <br />
                    <div style="text-indent: 10px;">
                        Damage : {attack.damage}
                    </div>
                </li>
            {/each}
        </ul>

    </Content>
</Card>
