<script>

    import Button, {Label} from '@smui/button';
    import Card, {Media, Content} from '@smui/card';
    import Chip, {Text} from '@smui/chips';
    import Textfield from '@smui/textfield'
    import { onMount } from 'svelte';



    import {modMap} from './mod'
    import {statsMap} from './stats'

    import { current_creatures } from './store';

    let creatures = [];
    onMount(() => {
        let creats = localStorage.getItem('current_creatures');
        console.log(creats);
        if(creats !== undefined && creats != '' && creats !== null) {
            current_creatures.set(JSON.parse(creats))
        }


        const unsubscribe = current_creatures.subscribe(value => {
            console.log("value", value);
            if(value !== undefined && value !== '' && value !== null) {
                creatures = value;
                localStorage.setItem('current_creatures', JSON.stringify(creatures))
            }
        });


    });

    function updateHealth(e) {
        const creature_id = e.target.parentNode.getAttribute('creatureId');
        const new_hp = e.target.value;
        console.log("creats", creatures)
        creatures[creature_id].hp = new_hp;
        // current_creatures.set([]);
        current_creatures.set(creatures);

    }

</script>

{#each creatures as creature, i}
    <Card style="margin: 10px; width: 360px;">
        <Content class="mdc-typography--body2">
            <h2>{creature.name} - <span class="ac">  <Chip><Text>AC : {creature.ac}</Text></Chip></span></h2>
            <div style="width: 100%; height: 200px; overflow: hidden;">
                <img src="{creature.image == 'blob' ? creature.image_blob : 'theme/images/' + creature.image}" style="width: 100%;">
            </div>

            <div style="padding: 10px;">
                <Textfield variant="outlined" creatureId={i} on:input={updateHealth} bind:value={creature.hp} label="Health" />
            </div>

            Stats:
            <ul>
                {#each creature.stats as stat}
                    <li><span class="stat-key">{statsMap[stat.key]}</span> : <span class="stat">{modMap[stat.value]} ({stat.value})</span></li>
                {/each}
            </ul>

            Attacks:
            <ul>
                {#each creature.attacks as attack}
                    <li>
                        <strong>{attack.name}</strong> - (+{modMap[creature.old_stats[attack.stat]] + attack.hit})
                        <br />
                        <div style="text-indent: 10px;">
                            Damage : {attack.damage}
                        </div>
                    </li>
                {/each}
            </ul>

        </Content>
    </Card>
{/each}